In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.patches as patches
from scipy.stats import pearsonr, spearmanr
plt.style.use('../images/presentation.mplstyle')
plt.rcParams["figure.figsize"] = (12, 6)
import scipy.stats as stats

In [2]:
def get_cmap(n=20, map_str= 'hsv'):
    cmap = plt.get_cmap(map_str)
    colors = [cmap(i) for i in np.linspace(0, 1, n)]
    return colors

In [3]:
recover_data = pd.read_excel("corona_recovered_ver_00120.xlsx")

In [4]:
recover_data['mean'] = recover_data['days_between_pos_and_recovery']
recover_data['var'] = recover_data['days_between_pos_and_recovery']

In [8]:
rr = recover_data[recover_data.age_group == '0-19']
rr[rr.days_between_pos_and_recovery >100]

,days_between_pos_and_recovery,total_tests_count,age_group,gender,test_indication,mean,var
725,173.0,2,0-19,נקבה,Contact with confirmed,173.0,173.0
982,130.0,2,0-19,זכר,Other,130.0,130.0
1414,171.0,2,0-19,זכר,Other,171.0,171.0
3121,180.0,3,0-19,נקבה,Other,180.0,180.0
3836,134.0,2,0-19,נקבה,Other,134.0,134.0
...,...,...,...,...,...,...,...
819749,105.0,1,0-19,נקבה,Contact with confirmed,105.0,105.0
820752,165.0,2,0-19,נקבה,Other,165.0,165.0
821493,152.0,1,0-19,נקבה,Contact with confirmed,152.0,152.0
822010,101.0,1,0-19,נקבה,Other,101.0,101.0
822235,134.0,1,0-19,נקבה,Contact with confirmed,134.0,134.0

In [51]:
recover_data[recover_data.age_group == '0-19'].days_between_pos_and_recovery.max()

386.0

In [29]:
mean_age_recovery = recover_data.groupby("age_group", as_index=False).agg({"age_group":"first", "mean": "mean", "var": "var"})

In [31]:
g_alpha = mean_age_recovery['mean']*mean_age_recovery['mean']/mean_age_recovery['var']
g_beta = mean_age_recovery['mean']/mean_age_recovery['var']

In [21]:
# for a, df_a in recover_data.groupby("age_group"):
#     fit_alpha, fit_loc, fit_beta=stats.gamma.fit(df_a.days_between_pos_and_recovery)
#     print(f"alpha:{fit_alpha}, loc:{fit_loc}, beta{fit_beta}")

In [41]:
import random
size = 10000
d = []
for i in range(size):
        d.append(random.gammavariate(g_alpha[0],1/g_beta[0]))

In [42]:
np.mean(d)

11.871328496606276

In [43]:
mean_age_recovery

  age_group       mean         var
0      0-19  12.093559  174.522820
1     20-29  13.975094  424.738479
2     30-39  14.239039  440.889512
3     40-49  14.520353  422.728706
4     50-59  15.343043  470.150932
5       60+  18.542679  627.793126
6   לא ידוע  26.508050  240.634347